body{
    
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    

}

header{background-color: white;
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem
}

a{
    color: black;
    text-decoration: none;
}

ul{list-style-type: none;
margin: 0;
padding: 0;
font-weight: bold; text-transform: uppercase;
}

#menu{
    display: none;
}
#menu.show {
    display: block;
}

#burger{
    border: none;
    background-color: white;
    cursor: pointer;
}

#intro{
    background-image: url(img/intro.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text{color: white;
            text-align: center;
}

.button {
    background-color: white;
    color: #374a67;
    padding: 1rem; 
    border-style: solid;
    border-color: #374a67;
    border-radius: 4px;
    border-width: 1px;
    font-weight: bold; 
    text-transform: uppercase;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.4);
    display:inline-block;
    margin-top: 1rem;
}

.card{
    border: 1px solid lightgrey;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.4);
    text-align: center;
}

.card img {width: 100%;}

@media (min-width: 800px){

    #menu{ display:block;
    }

    #burger{display: none;}

    .box{
        display: flex;
    }
    .box li{
        margin: 8px;

    } 
}